.container{
    width: 100%;
    height: 200vh;
    background-color: rgb(54, 54, 54);
    justify-content: center;
    justify-items: center;
    background-image: url("../assets/bggametracker.webp");
    background: linear-gradient(rgba(39, 37, 37, 0.774),rgba(29, 27, 27, 0.856)),url("../assets/bggametracker.webp");

}

.BGLogo{
    height: 300px;
    justify-items: center;
    padding: 20px;
}

.BGLogo h1{
    font-size: 50px;
    font-weight: 600;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #84a1f1, 0px 0px 10px #84a1f1, 0px 0px 10px #84a1f1,
    0px 0px 20px #84a1f1;
    }

.containerGames{
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    background: #464646;
    background: linear-gradient(180deg, rgb(44, 44, 44) 0%, rgba(13, 13, 13, 1) 61%, rgba(59, 59, 59, 1) 100%);

    }

.containerGames form{
    display: flex;
    gap: 20px;

}

.containerGames form select{
    margin-top: 3px;
    border-radius: 4px;
    border: none;
    height: 20px;
    padding-left: 10px;
    width: 100px;
}

.searchBar{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 40px;

}

.searchIcon{
    color: white;
    font-size: 1.6em;
}
.containerGames form input{
    border-radius: 4px;
    border: none;
    height: 20px;
    padding-left: 10px;

}

.gamesRow{
    display: flex;
    gap: 40px;
    justify-content: center;

}

.games{
    width: 300px;
    height: 350px;
    background-color: #bcccf7;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: flex-end;
    font-size: 0.8em;

}


#reddead{
    background-image: url("../assets/Red_Dead_Redemption_II.jpg");
    background-position-x: -30px;
        
}

#reddead:hover{
    background: linear-gradient(rgba(39, 37, 37, 0.774),rgba(29, 27, 27, 0.856)),url("../assets/Red_Dead_Redemption_II.jpg");
    background-position-x: -30px;
    cursor: pointer;




        
}